*, ::after, ::before{
    padding: 0;
    margin: 0;
    font-family: "Parkinsans", Verdana, Geneva, Tahoma, sans-serif, serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    box-sizing: border-box;
}
body{
 
    background-color: #fff;
  
    
    /* background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/asset/4c45b07bfb3162471bca88e19e819710.jpg); */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    /* background-position: center; */
}
h1{
    padding-bottom: 70px;
    color:blueviolet;
    font-size: clamp(1.4rem, 4vw, 5rem);
}
p{
    max-width: 600px;
    color:#333;
    font-size: clamp(1.2rem, 1.1vw, 2rem);
    line-height: 35px;
}
div{
    padding: 30px;
min-width: 300px;

}
div a{ 
    background-color: blueviolet;
text-decoration: none;
color:#fff;
padding: 10px 30px;
border-radius: 9999px;

}
div a:hover{
    transform: scale(1.1);
    background-color: #333;
}