*, ::after, ::before{
    padding: 0;
    outline: none;
    margin: 0;
    font-family: "Parkinsans", Verdana, Geneva, Tahoma, sans-serif, serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
   
}
body h2{
    font-size: clamp(1rem, 2vw +1rem, 1.7rem); 
    color:blueviolet;
    text-align: center;  
}
body form{
    padding-top: 50px;
    display: flex;
    width: 100vw;
    margin: 0 auto;
    max-width: 400px;
    flex-direction: column;
    gap:10px;
    box-shadow: 2px 3px 7px #333,
                -2px 3px 7px #333;
    padding: 20px;
    margin-top: 30px;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
}

body form input, body form span, body form textarea{
    width: 90%;
    padding: 10px;
    border-radius: 9999px;
    max-width: 400px;
}
body form span{
    font-size: 12px;
}
body form textarea{
    resize: none;
    padding: 20px;
    text-align: center;
    height: 170px;
}
input[type="submit"]{
    color:#fff;
cursor: pointer;
    background-color: blueviolet;
}
input[type="submit"]:hover{
    background-color: #333;
}
.error{
    border:2px solid red ;
}

footer{
    text-align: center;
    width: 100vw;
    padding-top: 30px;
}
footer div{
    width: 100%;
}
footer p{
    width: 100%;
}
